<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">{{title}}</h1>


    <!-- DataTables Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">List of Teachers</h6>
        </div>
        <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
            <div class="input-group">

                <div class="input-group-append">
                    <input type="text" class="form-control bg-light border-0 medium" placeholder="Search on Firstname" aria-label="Search" aria-describedby="basic-addon2" name="firstName" [(ngModel)]="firstName" (ngModelChange)="Search()">
                </div>
            </div>

        </form>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>

                        <tr>
                            <th (click)="Sort('employeeId')">Employee ID</th>
                            <th (click)="Sort('firstName')">First Name</th>
                            <th (click)="Sort('lastName')">Last Name</th>
                            <th (click)="Sort('section')">Section</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let t of teachers | orderBy : key : reverse | paginate : {itemsPerPage:5,currentPage:p};">
                            <td>{{t.employeeId}}</td>
                            <td>{{t.firstName}}</td>
                            <td>{{t.lastName}}</td>
                            <td>{{t.section}}</td>
                        </tr>


                    </tbody>

                </table>
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </div>
        </div>
    </div>
    <button type="button" class="btn btn-primary" [routerLink]="['/']">Back</button>
</div>
<!-- /.container-fluid -->